
@media (max-width: 992px) {

   h1{
       font-size: 2.375rem;
   }
   h2{
       font-size: 2rem;
   }
   input, textarea{
       width: 70vw;
   }
}
@media (max-width: 576px){
    
 
    input, textarea{
        width: 90.5vw;
        background-color: red;
    }
}
